
body {
    font-family: Arial, sans-serif;
    background: #f4f6f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}

header {
    background: #0078ff;
    color: white;
    width: 100%;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    margin-bottom: 100px;
}

h1 {
    margin: 0;
    font-size: 1.8rem;
}

.container {
    margin-top: 50px;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

label {
    font-weight: bold;
    margin-right: 10px;
    font-size:30px;
}

input[type="date"] {
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom:30px;
}

button {
    background: #3533b3;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #45a049;
}

/* POPUP DIALOG */
#dialog-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

#dialog-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 320px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    text-align: center;
    animation: pop 0.25s ease;
}

@keyframes pop {
    from { transform: scale(0.8); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

#dialog-box button {
    margin-top: 15px;
    padding: 8px 15px;
    border: none;
    background-color: #0078ff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#dialog-box button:hover {
    background-color: #005fc9;
}



