body{
    display: flex;
    height: 100vh;
    align-items: center;
    font-family: Arial, sans-serif;
    justify-content: center;
    background-image: url(image/apubackground.png);
}
.submit-btn{
    width: 100%;
    padding: 12px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s ease, background 0.2s ease;
}
.submit-btn:hover {
  background: #0056b3;
  transform: scale(1.05); 
}

.login-box{
    opacity:0.8;
}
input[type="email"],
input[type="password"] {
  width: 100%;        /* makes the textbox fill the form width */
  padding: 10px;      /* makes it taller */
  font-size: 18px;    /* bigger text inside */
  margin: 10px 0;     /* space between textboxes */
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}
#title {
   font-size: 35px;
   text-align: center;
}
#email-label #password-label {
   display: block;
   font-size: 15px;
}
.login-box {
    background: #fff;
    padding: 80px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    width: 300px;
    background-color: rgba(255, 255, 255, 255);
}
#rememberme-label {
  display: inline-flex;
  align-items: center;
  gap: 3px; 
}

